.title_dark h1 {
    padding: 0;
    font-family: 'JetBrainsMono-Bold';
    margin-bottom: 0;
    font-size: 36px !important;
    font-weight: 600 !important;
    color: #fafafa !important;
}

.title h1 {
    color: #3f3f3f;
    padding: 0;
    font-family: 'JetBrainsMono-Bold';
    margin-bottom: 0;
    font-size: 36px !important;
    font-weight: 600 !important;
}

.title_dark p {
    color: #fafafa6e;
    font-size: 16px;
}

.title p {
    color: #3f3f3f6e;
    font-size: 16px;
}

.hedder h4 {
    color: #fafafa;
    font-size: 18px
}

.hedder_light h4 {
    color: #3f3f3f;
    font-size: 18px
}

.major_content {
    padding-top: 100px !important;
}

.menu_skill_dark ul {
    background: #04293a !important;
    color: #fafafa;
}

.menu_skill_light ul {
    background: #ffffff !important;
    color: #3f3f3f;
}

.check {
    display: none !important;
}

@media screen and (max-width:1199px) {
    .card {
        height: 597px !important;
    }
}

@media screen and (max-width:991px) {
    .skill {
        height: 100% !important;
    }
    .major_content {
        padding-top: 70px !important;
        padding-bottom: 70px !important;
        row-gap: 1rem !important;
    }
    .card {
        height: auto !important;
    }
}

@media screen and (max-height: 888px) {
    .skill {
        height: 100% !important;
    }
}

@media screen and (max-height: 820px) {
    .skill {
        height: 100% !important;
    }
    /* .h__em {
        height: 600px;
    } */
}

@media screen and (max-width: 320px) {
    .title_dark h1,
    .title h1 {
        font-size: 28px!important;
    }
}