.about {
    height: 100vh;
}

.title_dark h1 {
    padding: 0;
    font-family: 'JetBrainsMono-Bold';
    margin-bottom: 0;
    font-size: 36px !important;
    font-weight: 600 !important;
    color: #fafafa !important;
}

.title h1 {
    color: #3f3f3f;
    padding: 0;
    font-family: 'JetBrainsMono-Bold';
    margin-bottom: 0;
    font-size: 36px !important;
    font-weight: 600 !important;
}

.title_dark p {
    color: #fafafa6e;
    font-size: 16px;
}

.title p {
    color: #3f3f3f6e;
    font-size: 16px;
}

.img {
    overflow: hidden;
    text-align: center;
    text-justify: center;
    width: 320px !important;
    height: 320px !important;
    box-shadow: 10px 10px 2px #7868e6;
}

.header_dark h1 {
    font-family: 'JetBrainsMono-Bold';
    color: #fafafa;
    font-size: 32px;
    font-weight: 600 !important;
}

.header h1 {
    font-family: 'JetBrainsMono-Bold';
    color: #3f3f3f;
    font-size: 32px;
    font-weight: 600 !important;
}

.button_text {
    gap: 10px;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.text_dark {
    color: #fafafaa6;
}

.text {
    color: #3f3f3fa6;
}

@media screen and (max-width:820px) {
    .img {
        width: 200px !important;
        height: 200px !important;
    }
    .content {
        text-align: center;
    }
    .about {
        height: auto;
    }
}

@media screen and (max-width:325px) {
    .title h1,
    .title_dark h1 {
        font-size: 28px !important;
    }
    .title p,
    .title_dark p {
        font-size: 16px !important;
    }
    .header_dark h1,
    .header h1 {
        font-size: 28px !important;
    }
}