.title_dark h1 {
    padding: 0;
    font-family: 'JetBrainsMono-Bold';
    margin-bottom: 0;
    font-size: 36px !important;
    font-weight: 600 !important;
    color: #fafafa !important;
}

.title h1 {
    color: #3f3f3f;
    padding: 0;
    font-family: 'JetBrainsMono-Bold';
    margin-bottom: 0;
    font-size: 36px !important;
    font-weight: 600 !important;
}

.title_dark p {
    color: #fafafa6e;
    font-size: 16px;
}

.title p {
    color: #3f3f3f6e;
    font-size: 16px;
}

.bg__card__dark {
    background: #064663 !important;
}

.bg__card {
    border-radius: 12px;
}

.titlecard {
    font-size: 18px !important;
}

@media screen and (max-width: 325px) {
    .title_dark h1,
    .title h1 {
        font-size: 28px !important;
    }
    .titlecard {
        font-size: 18px !important;
    }
}