@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: JetBrainsMono-Regular;
    src: url(/font/JetBrainsMono-Regular.ttf) format('truetype');
}

@font-face {
    font-family: JetBrainsMono-Bold;
    src: url(/font/JetBrainsMono-Bold.ttf) format('truetype');
}

@font-face {
    font-family: JetBrainsMono-Italic;
    src: url(/font/JetBrainsMono-Italic.ttf) format('truetype');
}

* {
    box-sizing: border-box;
    font-family: 'JetBrainsMono-Regular';
    margin: 0;
}

h1,
h2 {
    color: none;
}

.header div {
    margin: 0px;
}

.ant-menu-horizontal {
    border-bottom: unset !important;
}

.title {
    color: #fafafa;
}

.title-text h1 {
    padding-left: 10px;
    font-family: 'JetBrainsMono-Bold';
    margin-bottom: 0;
    font-size: 26px !important;
    font-weight: 600 !important;
    color: #fafafa !important;
}

.switch {
    text-align: end;
    /* display: none; */
}

.background {
    background-color: #041c32 !important;
}

.background_light {
    background-color: #7868e6 !important;
}

.list-menu {
    color: #fafafa !important;
}

.header {
    /* background: #04293A; */
    color: #fafafa;
}

.content {
    width: 100%;
    /* margin: 1rem 0 1rem 0; */
    /* height: 100vh; */
}

.react-reveal {
    height: 100% !important;
}

.icon-svg {
    height: 5px;
    width: 5px;
}

.menu {
    display: none;
}

.footer {
    color: #fafafafa;
}

.title-footer h1 {
    font-family: 'JetBrainsMono-Bold';
    padding-left: 17px;
    color: #fafafafa;
    font-size: 24px;
    font-weight: 700;
}

.title-footer h2 {
    /* font-family: 'Monoid-Bold'; */
    color: #fafafafa;
    font-size: 16px;
}

.credit {
    /* border-top: 5pxpx solid red; */
    padding-bottom: 1rem;
    padding-top: 1rem;
    font-size: 11px;
    /* color: #fafafa6e; */
}

.ant-divider {
    border-top: 1px solid rgba(255, 255, 255, 0.6) !important;
}

.ant-divider {
    margin: 0 !important;
}

.ul-footer-icon {
    display: flex;
    justify-content: flex-end;
}

.bg-content,
.menu_q_dark ul {
    background-color: #04293a;
}

.bg-content-light,
.menu_q_light ul {
    background-color: #ffffff;
    color: #3f3f3f;
}

.title_q h1 {
    font-family: 'JetBrainsMono-Bold';
    font-size: 36px;
    margin-bottom: 0;
}

.title_q p {
    font-size: 16px;
}


/*-------------------------- ANIMATION_CSS-------------------------------*/

.screen {
    position: absolute;
    /* width: 100%; */
    z-index: 100;
}

.children {
    position: relative;
}

.name {
    font-family: 'JetBrainsMono-Bold';
    color: #fafafa;
    margin: 0;
}

@media screen and (max-width:820px) {
    .nav-header,
    .switch {
        display: none;
    }
    .menu {
        display: unset;
        text-align: end;
    }
    .botton-menu {
        background: unset !important;
        border: unset !important;
    }
    .skillcontent {
        padding: unset !important;
    }
}

@media screen and (max-width: 576px) {
    .icon-menu {
        height: 100%;
        width: auto;
        font-size: 24px;
        color: #fafafafa !important;
    }
    .title-footer h1 {
        text-align: center;
        padding: 0;
    }
    .title-footer h2 {
        text-align: center;
    }
    .ul-footer-icon {
        display: flex;
        justify-content: center !important;
    }
    .padding_in {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .twocontent,
    .q_content {
        padding: unset !important;
    }
}